$brand-color: #1A1C1E;
$text-color: #181A1E;
$second-color: #828282;
$border-color: #E9E9E9;
$placeholder-color: #A9A9A9;
$hover-color: #DAEDF7;

$default-white: #ffffff;

$red: #F04438;
$red-dark: #B42318;

$green: #027A48;
$light-green: #12B76A;

$light-grey: #FAFAFA;

